.bicicletas-bg {
  background: linear-gradient(90deg, var(--cor-0) 30%, var(--cor-11) 30%);
}

.bicicletas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 3.75rem;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1 / 1;
}

.bicicletas-imagem span {
  grid-area: 1 / 1;
  place-self: start end;
  background: var(--cor-12);
  padding: 0.5rem 1rem;
  display: inline-block;
  margin-top: 1.25rem;
  border-radius: 0.25rem 0 0 0.25rem;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1 / -1;
}

.bicicletas-conteudo h2 {
  margin-bottom: 1.25rem;
}

.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas-conteudo p {
  margin-bottom: 2rem;
}

.bicicletas-conteudo a {
  align-self: end;
}

.bicicletas-conteudo ul {
  display: grid;
  gap: 1rem;
}

.bicicletas-conteudo li {
  display: flex;
  align-items: center;
}

.bicicletas-conteudo img {
  width: 1.5rem;
  margin-right: 0.75rem;
}

@media (max-width: 1000px) {
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding: 2rem;
  }
  .bicicletas-conteudo a {
    grid-area: 4;
    margin-top: 2rem;
    max-width: none;
    text-align: center;
  }
  .bicicletas-bg{
    background: var(--cor-11);
  }
}
