.vantagens-bg {
  background-color: var(--cor-11);
  padding: 3.75rem 0;
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 2.5rem;
  margin-top: 4rem;
}

.vantagens h3 {
  margin: 0.5rem 0;
}

.vantagens li + li{
  margin-top: 1rem;
}